body {
    margin: 0;

}

.slider_wrapper{
    overflow: hidden;
    position: relative;
}
.slider__btn{
    position: absolute;
    top:10px;
    background: rgba(0, 0, 0, 0.5) ;
    height: 32px;
    max-width: 200px;
    width: 100%;
    border-radius: 1.5em;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    left: 50%;
    transform: translate(-50%, 0%);
    align-items: center;
    padding: 2px 0;

}

.slider__link{
    height: 25px;
    width: 30px;
    cursor: pointer;
}

.slider__link{
    fill: white;
}

.slider__box .slider__slide {
background: gray;
    overflow-y: hidden;
    padding: 0;
    width: var(--carousel-slide-width, 75%);

}

.fancy_slide{
    cursor: url(icon.svg)  2 2, default ;
}

.carusel .carousel__button {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.23) ;
    width: 12%;
    height: 100%;
    --carousel-button-svg-width: 30px;
    --carousel-button-svg-height: 30px;


}

.carusel .carousel__button svg {
    position: absolute;
    stroke: white;

}

.carousel__button:before {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 170px;
    width: 40px;
    position: absolute;
    border-radius: 8%;

}

.carousel__button.is-next:before {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.carousel__button.is-prev:before {
    left: 0;
    border-radius: 0 8px 8px 0;
}

.carousel__button.is-next svg {
    right: 4px;
}

.carousel__button.is-prev svg {
    left: 4px;
}

.carousel__button.is-next.is-next {
    right: 0;
}

.carousel__button.is-prev.is-prev {
    left: 0;
}

.nav-carusel {
    height: 190px;
    background: grey;
}
.nav-carusel__wrapper{
    width:40%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 115%);
    transition: all .5s linear;
    height: 190px;
}
.carousel__pages:hover ~ .nav-carusel__wrapper{
    transform: translate(-50%, 0%);
    transition: all .5s linear;
}
.nav-carusel__wrapper:hover{
    transform: translate(-50%, 0%);
    transition: all .5s linear;
}

.nav-carusel__header{
    position: absolute;
    display: block;
    border-radius: 8px 8px 0 0;
    height: 20px;
    width:100%;
    background: black;
    top:-20px;
    text-align: center;
    padding: 2px 0 2px 0;
    box-sizing: border-box;
    color: white;
}

.nav-carusel .nav-carusel__slide{
    width: 100%;
    max-height: 190px;
    height: 100%;
    overflow-y: hidden;
    padding: 0;
}

 .wrapper_nav {
    height: 190px;
display: flex;
justify-content: center;
}
.imgdouble{
    object-fit: contain;
    width:100%;
    height: 100%;


}

.nav-carusel__slide{
    background: grey;
}

.nav-carusel__slide img {

    object-fit: contain;
    height: 100%;

}
.nav-carusel .carousel__button{
    border-radius: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 20%;
    height: 100%;
    --carousel-button-svg-width: 30px;
    --carousel-button-svg-height: 30px;
}
.nav-carusel .carousel__button svg{
    display: none;
}
.nav-carusel .carousel__button:before{
    display: none;
}

.carusel {
    width: 100%;
    height: 100%;
    background:grey;
}


.slider__slide {
    height: 100vh;
    width: 100%;

}

.slider__slide img {
    object-fit: contain;
    
    height: 100%;
}
.carousel__pages{
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 0%);
    background: black;
    height: 20px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    padding: 2px 0 2px 0;
    box-sizing: border-box;
    color: white;
    width: 30%;
    left: 50%;
}
.slider__slide_visible{
    visibility: hidden ;
}

.wrapper_slide{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.img_nav{
    width: auto;
}


@media screen and (max-width: 1726px) {
    .slider__slide_visible{
        display: none;
    }

    .slider__box .slider__slide{
        width: var(--carousel-slide-width, 100%);
    }

    .slider__box .slider__slide img{
       object-fit: contain;
    }

    
}
@media screen and (max-width: 768px){
    .panzoom{
        height: 100%;
    }
    .slider__box .slider__slide{
        max-width:none;
        width: 100%;
    }

    .slider__box .slider__slide img {
        width: 100%;
    }

    .slider__box .slider__slide {

        width: var(--carousel-slide-width, 100%);
    }
    .nav-carusel__wrapper{
        display: none;
    }
    .carousel__pages{
        width: 60%;
    }

}

